<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="traceSpyService" type="TraceSpyService.Configuration.ServiceSection, TraceSpyService" />
	</configSections>

	<traceSpyService monitoringPeriod="-1">
		<webServer>
			<prefixes>
        <add uri="http://*:9100/ts/" />
        <add uri="http://*:9100/ts2/" />
			</prefixes>
		</webServer>
    <etwListener consoleOutput="true">
      <etwProviders>
        <etwProvider guid="f898043c-ab85-4eca-99d2-bd83c782ebba" description="test" />
      </etwProviders>
    </etwListener>
	</traceSpyService>

</configuration>